<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Routes</title>
    <style>
      table {
        border-collapse: collapse;
        width: 100%;
        margin: 20px 0;
      }

      table th,
      table td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: left;
      }

      table th {
        background-color: #f2f2f2;
        font-weight: bold;
      }

      table tr:nth-child(even) {
        background-color: #f9f9f9;
      }

      table tr:hover {
        background-color: #f1f1f1;
      }
    </style>
  </head>
  <body>
    <table>
      <thead>
        <tr>
          <th>route name</th>
          <th>visit count</th>
        </tr>
      </thead>
      <tbody>
        {% for route_name in route_names %}
        <tr>
          <td>{{ route_name.name }}</td>
          <td>{{ route_count_map[route_name.name] }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </body>
</html>
